// list01
section.list_01(data-menu='true')
	.layoutWrap
		h2.title 主推區塊
		.mainArticle.wow.custom_fadeinup
			a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/61088/586627ff0a425.png?m=resize&i=760x400&e=jpg&q=75')
				.linkWrap
					.linkBorder
						span.ch 馬上閱讀
						span.ch.arrow →
			.detailWrap
				a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
					h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
				a.category 流行
				.detail(data-dotdotdot='true') 天氣開始轉變，這幾天熱起來真的不是在開玩笑的！女孩子們又要開始擔心容易脫掉的底妝，又或者是考慮要不要剪髮比較清涼而煩惱，但最重要的還是穿著的問題了，偶而想在辦公室穿件帥氣的牛仔褲，出門走不到公車站就已經流了滿身的汗，又或是想穿件裙子卻要為了上半身而煩惱。當然啦！既然這麼麻煩，不如就選擇一件適合夏天和辦公室的洋裝吧，不但涼爽又能解決上班！
				a.button(href='https://www.juksy.com/archives/54203', target='_blank') 瞭解更多
					span.arrow
		.mainImgWrap
			ul.mainImg.wow.custom_fadeinup
				li
					.wrap
						.imgLoading.front(data-imgload='https://static.juksy.com/files/articles/54203/57500c369aa46.jpg')
						.imgLoading.back(data-imgload='https://static.juksy.com/files/articles/54203/575008c88eb6d.jpg')
				li
					.wrap
						.imgLoading.front(data-imgload='https://static.juksy.com/files/articles/54203/5750089a15551.jpg')
						.imgLoading.back(data-imgload='https://static.juksy.com/files/articles/54203/574fed49eda49.jpg')
				li
					.wrap
						.imgLoading.front(data-imgload='https://static.juksy.com/files/articles/54203/574fed4b3a53e.jpg')
						.imgLoading.back(data-imgload='https://static.juksy.com/files/articles/54203/574fed5314fe1.jpg')
				li.rectangle
					.wrap
						.imgLoading.front(data-imgload='https://static.juksy.com/files/articles/54203/574ff98a6980b.jpg')
						.imgLoading.back(data-imgload='https://static.juksy.com/files/articles/54203/57500c87e4099.jpg')
		h2.title2(data-menu='true') 夏日妝髮
		.subArticle.wow.custom_fadeinup
			a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
				.linkWrap
					.linkBorder
						span.ch 馬上閱讀
						span.ch.arrow →
			a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
				h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
			a.category 流行
		.exArticle.wow.custom_fadeinup
			ul.exArticleWrap
				li.top
					a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
						h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
				li.top
					a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
						h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
						h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/54203', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54203', target='_blank')
						h3 【消暑特輯】小資女必買！韓妞教你 3 招解決一周炎熱困擾只靠這件
// list01 end