// list02
section.list_02(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		.detail 手動7篇
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
		ul.articleWrap
			li.big.wow.custom_fadeinup
				.article
					a.img.imgLoading(href='https://www.juksy.com/archives/55435', target='_blank', data-imgload='https://static.juksy.com/files/cover/61088/586627ff0a425.png?m=resize&i=760x400&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55435', target='_blank')
						h3 台灣也將淪陷？全球「 10 大寶可夢上癮現象」你出現幾項？
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.wow.custom_fadeinup
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/56160', target='_blank')
						h3 世界第一位神奇寶貝大師出現！他蒐集到的最後一隻《Pokemon GO》寶可夢是...
					a.img.imgLoading(href='https://www.juksy.com/archives/56160', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
// list02 end