// list03_infinite
section.list_03_infinit.list_03(data-menu='true')
	.layoutWrap(data-tags='["球鞋", "hithot"]',data-filter='[56247, 56274, 56375]')
		h2.title RELATED POSTS
		.detail 延伸閱讀–自動讀取特定標籤
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
// list03_infinite end