// list03
section.list_03(data-menu='true')
	.layoutWrap
		h2.title RELATED POSTS
		.detail 延伸閱讀–手動
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
		.articleWrap
			ul.article
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55540', data-imgload='https://static.juksy.com/files/cover/61088/586627ff0a425.png?m=resize&i=760x400&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.category 星聞
					.txtWrap
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55540', target='_blank')
							h3 小賈斯汀也瘋玩寶可夢  被直擊衝入中央公園抓神奇寶貝！
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55486', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					.txtWrap
						a.category 音樂
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55486', target='_blank')
							h3 DJ 也瘋狂！萬人演唱會放送 寶可夢西洋主題曲 Remix
						a.more(href='https://www.juksy.com/archives/55486', target='_blank')
							span 瞭解更多 →
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55540', data-imgload='https://static.juksy.com/files/cover/61088/586627ff0a425.png?m=resize&i=760x400&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.category 星聞
					.txtWrap
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55540', target='_blank')
							h3 小賈斯汀也瘋玩寶可夢  被直擊衝入中央公園抓神奇寶貝！
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55486', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					.txtWrap
						a.category 音樂
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55486', target='_blank')
							h3 DJ 也瘋狂！萬人演唱會放送 寶可夢西洋主題曲 Remix
						a.more(href='https://www.juksy.com/archives/55486', target='_blank')
							span 瞭解更多 →
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55540', data-imgload='https://static.juksy.com/files/cover/61088/586627ff0a425.png?m=resize&i=760x400&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.category 星聞
					.txtWrap
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55540', target='_blank')
							h3 小賈斯汀也瘋玩寶可夢  被直擊衝入中央公園抓神奇寶貝！
				li.wow.custom_fadeinup
					a.img.imgLoading(href='https://www.juksy.com/archives/55486', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75', target='_blank')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					.txtWrap
						a.category 音樂
						a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/55486', target='_blank')
							h3 DJ 也瘋狂！萬人演唱會放送 寶可夢西洋主題曲 Remix
						a.more(href='https://www.juksy.com/archives/55486', target='_blank')
							span 瞭解更多 →
			a.moreBtn(target='_blank', href='https://www.juksy.com/search?keyword=%E3%80%8APokemon+GO%E3%80%8B')
				span 更多文章 →
// list03 end