// list05
section.list_05(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		.detail 手動2篇正方
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
		ul.article
			li.wow.custom_fadeinup
				a.img.imgLoading(href='https://www.juksy.com/archives/54297', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54297', target='_blank')
						h3 春夏就是「涼鞋」的季節！防爆汗必備，清涼有型3穿搭Look大放送！
			li.wow.custom_fadeinup
				a.img.imgLoading(href='https://www.juksy.com/archives/54297', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/54297', target='_blank')
						h3 春夏就是「涼鞋」的季節！防爆汗必備，清涼有型3穿搭Look大放送！
// list05 end