// list05_tag
section.list_05_tag.list_05(data-menu='true')
	.layoutWrap(data-engtitle='SELECTED ARTICLES', data-title='自動2~8篇正方', data-description='穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！', data-tags='["熱浪來襲", "hithot"]',data-filter='[56247, 56274, 56375]')
// list05_tag end