// list06
section.list_06(data-menu='true')
	.layoutWrap(data-engtitle='FEATURED ARTICLES', data-title='自動2~8篇長方', data-description='穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！', data-tags='["球鞋", "hithot"]',data-filter='[56247, 56274, 56375]')
// list06 end