// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/62218', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/62218/58982f8aefaf3.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/62218/58982f8aefaf3.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/62218', target='_blank')
						h3 冷面暖心！藍正龍真情告白：最愛周幼婷「這一點」，還自爆曾偷偷做了「這件事」惹哭老婆！？
				.date Dec 6.2017 | by Henrry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/61354', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/61354/586f6c59b6987.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/61354/586f6c59b6987.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/61354', target='_blank')
						h3 如果回到過去重新選擇，郭書瑤：「我還是會拍殺很大，只是.....」
				.date Dec 6.2017 | by Henrry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/61305', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/61305/586f6c39661c1.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/61305/586f6c39661c1.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/61305', target='_blank')
						h3 「每個人都有自己的小世界！」　田亞霍霸氣表示：不曾黑過又為何要洗白？
				.date Dec 6.2017 | by Henrry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/60972', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/60972/58635bfd33b85.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/60972/58635bfd33b85.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/60972', target='_blank')
						h3 自爆私底下超難約！鼓鼓除了創作平時其實最喜歡...
				.date Dec 6.2017 | by Henrry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/58605', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/57311/57d3ac6a5b879.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/57311/57d3ac6a5b879.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/58605', target='_blank')
						h3 跟著時尚MODEL看城市！彭千祐的午後私旅行
				.date Dec 6.2017 | by Henrry
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/58605', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/57242/57d265bf8b93a.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/57242/57d265bf8b93a.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/58605', target='_blank')
						h3 跟著時尚MODEL看城市！彭千祐的午後私旅行
				.date Dec 6.2017 | by Henrry
// list08 end