{
  "name": "avengersstation",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/header/h_04_old.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "preprosjs/index.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/index.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "scss/index.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/index_b.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index_b.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/index_c.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index_c.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/index_d.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index_d.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/index_old.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "jade",
      "pug"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "preprosjs/index.js",
      "imports": [
        "preprosjs/common/init.js",
        "preprosjs/nav/n_01.js",
        "preprosjs/nav/n_02.js",
        "preprosjs/header/h_03.js",
        "preprosjs/list/l_04.js",
        "preprosjs/list/l_09.js",
        "preprosjs/gallery/g_01.js",
        "preprosjs/social/s_02.js",
        "preprosjs/btnfixed/b_01.js",
        "preprosjs/common/wow.js",
        "preprosjs/common/show_on_scroll.js",
        "preprosjs/common/lazy_image.js",
        "preprosjs/common/dotdotdot.js",
        "preprosjs/common/parallax.js",
        "preprosjs/common/list03infinit.js",
        "preprosjs/common/list05_tag.js",
        "preprosjs/common/youtube.js"
      ]
    },
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/base/head.pug",
        "pug/header/h_02.pug",
        "pug/list/l_04.pug",
        "pug/social/s_02.pug",
        "pug/social/s_01.pug",
        "pug/footer/f_01.pug",
        "pug/btnfixed/b_01.pug",
        "pug/nav/n_01_tem.pug",
        "pug/base/cdnjs.pug",
        "pug/base/devjs.pug",
        "pug/base/minjs.pug",
        "pug/js/foot.js",
        "pug/js/head.js"
      ]
    },
    {
      "path": "pug/index_b.pug",
      "imports": [
        "pug/base/head.pug",
        "pug/nav/n_02.pug",
        "pug/header/h_03.pug",
        "pug/header/h_04.pug",
        "pug/list/l_09.pug",
        "pug/video/v_02.pug",
        "pug/list/l_07.pug",
        "pug/list/l_08.pug",
        "pug/footer/f_02.pug",
        "pug/btnfixed/b_01.pug",
        "pug/base/cdnjs.pug",
        "pug/base/devjs.pug",
        "pug/base/minjs.pug",
        "pug/js/foot.js",
        "pug/js/head.js"
      ]
    },
    {
      "path": "pug/index_c.pug",
      "imports": [
        "pug/base/head.pug",
        "pug/nav/n_01.pug",
        "pug/header/h_03.pug",
        "pug/list/l_04.pug",
        "pug/video/v_01.pug",
        "pug/list/l_03_infinite.pug",
        "pug/social/s_01.pug",
        "pug/footer/f_01.pug",
        "pug/btnfixed/b_01.pug",
        "pug/nav/n_01_tem.pug",
        "pug/list/l_03_infinite_script.pug",
        "pug/base/cdnjs.pug",
        "pug/base/devjs.pug",
        "pug/base/minjs.pug",
        "pug/js/foot.js",
        "pug/js/head.js"
      ]
    },
    {
      "path": "pug/index_old.pug",
      "imports": [
        "pug/base/head.pug",
        "pug/nav/n_01.pug",
        "pug/header/h_01.pug",
        "pug/header/h_02.pug",
        "pug/header/h_03.pug",
        "pug/list/l_04.pug",
        "pug/social/s_01.pug",
        "pug/list/l_06.pug",
        "pug/list/l_05.pug",
        "pug/list/l_05_tag.pug",
        "pug/social/s_02.pug",
        "pug/gallery/g_01.pug",
        "pug/video/v_01.pug",
        "pug/list/l_01.pug",
        "pug/list/l_03.pug",
        "pug/list/l_02.pug",
        "pug/list/l_03_infinite.pug",
        "pug/footer/f_01.pug",
        "pug/btnfixed/b_01.pug",
        "pug/plugin/photoswipe_ui.pug",
        "pug/nav/n_01_tem.pug",
        "pug/list/l_03_infinite_script.pug",
        "pug/list/l_05_tag_script.pug",
        "pug/list/l_06_script.pug",
        "pug/base/devjs.pug",
        "pug/base/minjs.pug",
        "pug/js/foot.js",
        "pug/js/head.js"
      ]
    },
    {
      "path": "scss/index.scss",
      "imports": [
        "scss/common/variables.scss",
        "scss/common/mixin.scss",
        "scss/common/keyframes.scss",
        "scss/common/reset.scss",
        "scss/common/utilities.scss",
        "scss/nav/n_01.scss",
        "scss/nav/n_02.scss",
        "scss/header/h_02.scss",
        "scss/header/h_03.scss",
        "scss/header/h_04.scss",
        "scss/list/l_03.scss",
        "scss/list/l_04.scss",
        "scss/list/l_05.scss",
        "scss/list/l_07.scss",
        "scss/list/l_08.scss",
        "scss/list/l_09.scss",
        "scss/gallery/g_01.scss",
        "scss/social/s_01.scss",
        "scss/social/s_02.scss",
        "scss/video/v_01.scss",
        "scss/video/v_02.scss",
        "scss/footer/f_01.scss",
        "scss/footer/f_02.scss",
        "scss/btnfixed/b_01.scss",
        "scss/custom.scss"
      ]
    },
    {
      "path": "pug/base/head.pug",
      "imports": [
        "pug/js/head.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 2 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": false,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}