.gallery_01 {
  position: relative;
  background-color: $black;
  padding-top: 30px;
  padding-bottom: 20px;
  .layoutWrap {
    padding-bottom: 30px;
    @include screen(pcSmall) {
      max-width: $pc_max_width;
      margin: 0 auto;
    }
    .title {
      padding: 50px $m_gap 0 $m_gap;
      text-align: center;
      font-size: 28px;
      line-height: 1.5em;
      font-weight: bold;
      letter-spacing: 2px;
      color: $white;
      &:after {
        content: '';
        display: block;
        width: 100%;
        max-width: 720px;
        height: 1px;
        margin: 15px auto 10px auto;
        background-color: $white;
      }
    }
    .detail {
      margin: 0 auto;
      padding: 0px $m_gap;
      font-size: 30px;
      line-height: 1.5em;
      text-align: center;
      font-weight: bold;
      color: $white;
      @include screen(tb) {}
      @include screen(pcSmall) {
        width: 630px;
      }
    }
    .subTitleWrap {
      @include screen(pcSmall) {
        width: 970px;
        margin: 0 auto;
      }
      .subTitle {
        margin: 20px $m_gap 0 $m_gap;
        color: $white;
        @include screen(tb) {
          margin: 20px $tb_gap 0 $tb_gap;
        }
        @include screen(pcSmall) {
          width: 65%;
          margin: 20px auto 0 auto;
          text-align: center;
        }
      }
    }
  }
  .gallery_01_slider {
    // generate by lightSlider js
    ul.lSSlide {
      @include screen(pcSmall) {
        margin-left: 400px; // adjust in js
      }
    }
    .galleryWrap {
      @include screen(pcSmall) {
        // js add wrapper to thumb and resize
        overflow: hidden;
        @include transform(scale(0.4));
        @include transform-origin(50% 10%);
      }
    }
    .lSAction {
      >a {
        top: 0;
        width: 300px; // js
        height: 600px;
        margin-top: 0;
        background-image: none;
        overflow: hidden;
        &.lSPrev {
          left: 0;
        }
        &.lSNext {
          right: 0;
        }
        svg {
          width: 20px;
          margin-top: 270px;
          &.arrowL {
            float: right;
            margin-right: 50px;
          }
          &.arrowR {
            float: left;
            margin-left: 50px;
          }
          polyline {
            fill: none;
            stroke: #fff;
            stroke-width: 2px;
          }
        }
      }
    }
    ul.lSGallery {
      li {
        a {
          display: block;
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            border: 3px solid rgba(0, 0, 0, 0);
            box-sizing: border-box;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      li.active {
        border-radius: 0;
        a {
          &:after {
            background-color: rgba(0, 0, 0, 0.3);
            border: 3px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
  // slider default
  ul.slider {
    li {
      position: relative;
      width: 100%;
      height: auto; //240(img)+66(txt) => auto
      overflow: hidden;
      background-color: $black;
      @include screen(mMedium) {
        height: auto; //281.25(img)+66(txt) => auto
      }
      @include screen(mLarge) {
        height: auto; //310.5(img)+66(txt) => auto
      }
      @include screen(tb) {
        height: auto; //576(img)+48(txt) => auto
      }
      @include screen(pcSmall) {
        height: auto; //600(img) => auto
        background-color: transparent;
      }
      .img {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: black;
        height: calc(100% - 66px); //240(img)+66(txt)
        @include screen(tb) {
          height: calc(100% - 48px); //576(img)+48(txt)
        }
        @include screen(pcSmall) {
          height: 100%;
          background-color: transparent;
        }
        img {
          display: block;
          -webkit-align-self: center;
          align-self: center;
          cursor: pointer;
          @include screen(pcSmall) {
            @include transform(scale(0.9));
            @include transform-origin(50% 50%);
            opacity: 0.5;
            @include transition;
          }
        }
      }
      .txt {
        position: absolute;
        width: 100%;
        max-width: 100%;
        color: $black;
        background-color: rgba(255, 255, 255, 0.7);
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        margin: auto;
        @include screen(pcSmall) {
          bottom: 10px;
          max-width: 450px;
        }
        span {
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 1.5em;
          letter-spacing: 0;
          padding: 12px 12px;
          @include screen(tb) {
            font-size: 16px;
          }
          @include screen(pcSmall) {
            font-size: 16px;
          }
        }
      }
    }
    li.active {
      .img {
        img {
          @include transform(scale(1));
          @include transform-origin(50% 50%);
          opacity: 1;
        }
      }
    }
  }
}
