.list_03 {
	position: relative;
    background-color: $white;
    .layoutWrap {
        padding: 50px 0 50px 0;
        overflow: hidden;
        .title {
            padding: 50px $m_gap 0 $m_gap;
            text-align: center;
            font-size: 28px;
            line-height: 1.5em;
            font-weight: bold;
            letter-spacing: 2px;
            &:after {
                content: '';
                display: block;
                width: 100px;
                height: 5px;
                margin: 5px auto 10px auto;
                background-color: $black;
            }
        }
        .detail {
            padding: 0 $m_gap;
            text-align: center;
            font-size: 30px;
            line-height: 1.5em;
            font-weight: bold;
        }
        .subTitleWrap {
            @include screen(pcSmall) {
                width: 970px;
                margin: 0 auto 30px auto;
            }
            .subTitle {
                margin: 20px $m_gap;
                color: $black_50;
                @include screen(tb) {
                    margin: 20px $tb_gap;
                }
                @include screen(pcSmall) {
                    width: 65%;
                    margin: 20px auto;
                    text-align: center;
                }
            }
        }
        .articleWrap {
            padding-left: $m_gap;
            padding-right: $m_gap;
            @include screen(tb) {
                padding-left: $tb_gap;
                padding-right: $tb_gap;
            }
        	@include screen(pcSmall) {
				width: 970px;
                margin: 0 auto;
			}
            ul.article {
                overflow: hidden;
                li {
                    @include list_style_none;
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    @include screen(pcSmall) {
						width: 470px;
                        min-height: 249px;
                        margin-bottom: 20px;
					}
					a.category {
						@include category;
                        cursor: inherit;
					}
                    a.img {
                        @include a_img;
                    }
                    .txtWrap {
                        a.txt {
                            display: block;
                            h3 {
                                @include a_txt;
                            }
                        }
                        a.more {
                            display: none;
                            margin-left: 20px;
							margin-top: 35px;
							color: $black_50;
                            @include screen(pcSmall) {
								display: block;
                                span {
                                    @include a_txt;
                                }
							}
                        }
                    }
                    &:nth-child(odd) {
                        position: relative;
                        a.category {
                        	@include screen(pcSmall) {
								position: absolute;
								top: 10px;
								left: 20px;
								color: $white;
								border-color: $white;
								font-weight: bold;
							}
                        }
                        a.img {
                            width: 100%;
                            @include fbsize_linkWrap;
                            height: calc(280px/1.9);
                            @include screen(mLarge) {
                                height: calc(374px/1.9);
                            }
                            @include screen(tb) {
                                height: calc(688px/1.9);
                            }
                            @include screen(pcSmall) {
                                height: calc(466px/1.9);
                            }
                            .linkWrap {
                        		position: absolute;
                        	}
                        	&:hover + .category {
                        		opacity: 0;
                        	}
                        	&:hover {
                        		.linkWrap {
                        			z-index: 1;
                        		}
                        	}
                        }
                        .txtWrap {
                        	position: relative;
                            a.txt {
                                min-width: 94%;
                            	height: $line-height*2;
                            	overflow: hidden;
                                position: absolute;
                                bottom: 0;
                                color: $white;
                                padding: 20px 3% 2px 3%;
                                @include linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                                @include screen(tb) {
									padding: 20px 3% 10px 3%;
								}
								@include screen(pcSmall){
									padding: 20px 3% 10px 3%;
								}
                            }
                        }
                    }
                    &:nth-child(even) {
                    	overflow: hidden;
                    	background-color: #f2f2f2;
                    	@include screen(pcSmall){
							float: right;
						}
                        &:after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 0 10px 10px;
                                border-color: transparent transparent transparent #f2f2f2;
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                @include screen(pcSmall) {
                                    left: 47%;
                                }
                        }
                        a.img {
                            width: 50%;
                            float: right;
                            @include square_linkWrap;
                            .linkWrap {
                                height: calc(140px*0.8);
                                @include screen(mLarge) {
                                    height: calc(187px*0.8);
                                }
                                @include screen(tb) {
                                    height: calc(344px*0.8);
                                }
                                @include screen(pcSmall) {
                                    height: calc(249px*0.8);
                                }
                            }
                            @include screen(pcSmall) {
								width: 53%;
							}
                        }
                        .txtWrap {
                            width: 50%;
                        	a.category {
                                cursor: inherit;
                        		@include screen(pcSmall) {
									margin-left: 20px;
									margin-top: 10px;
								}
                        	}
                    		a.txt {
                    			height: $line-height*3;
                    			overflow: hidden;
                    			padding: 20% 10px 0 10px;
                    			@include screen(tb) {
									padding: 30% 20px 0 20px;
								}
								@include screen(pcSmall) {
									padding: 0 20px;
								}
								h3 {
                                    @include a_txt;
									font-weight: normal;
								}
                    		}
                    	}
                    }
                }
            }
            .moreBtn {
                font-size: 24px;
                font-weight: bold;
            	display: block;
            	text-align: right;
            	line-height: 60px;
            	cursor: pointer;
            	color: $black_50;
                span {
                    @include a_txt;
                }
            }
        }
    }
}
