// social02
section.social_02(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 展區大公開
		.subTitleWrap
			p.subTitle
		.photo
			iframe(style='border: 0; width: 100%; height: 100%;', scrolling=no, data-msrc='https://embedsocial.com/facebook_album/pro/80ebf835a8c0ce2200a3b98f6f97f6f044445331', data-pcsrc='https://embedsocial.com/facebook_album/pro_develop/10153489021758937?total_images=1000&images_per_page=16&show_title=no&order_by_date=descending&show_likes=no&show_images_in_lightbox=yes')
// social02 end