// nav02
.nav_02_line
  .number 
    span.now 01
    | /
    span.total 04
  .listWrap
    ul.list
      li
        a.tooltip
          span.tooltiptext 嚴選文章
      li
        a.tooltip
          span.tooltiptext JUKSY VIDEO
      li
        a.tooltip
          span.tooltiptext 神奇魔杖在哪兒？
      li
        a.tooltip
          span.tooltiptext SELECTED ARTICLES
    .line
nav.nav_02
  .navWrap
    h3.hide 導覽列
    ul.list
      li
        a
          h4 嚴選文章
      li
        a
          h4 JUKSY VIDEO
      li
        a
          h4 神奇魔杖在哪兒？
      li
        a
          h4 SELECTED ARTICLES
a.nav_02_btn
  .line.top
  .line.middle
  .line.bottom
// nav02 end