doctype html
html(lang='zh-TW')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title 特企套餐
		meta(name='keywords', content='選單')
		meta(name='description', content='選單')
	body
		h1 JUKSY 特企套餐
		ul
			li
				a(href='#')
					h2 （Ａ）全方位觀點特企（敬請期待）
		ul
			li
				a(href='index_b.html')
					h2 （Ｂ）視覺衝擊特企
		ul
			li
				a(href='index_c.html')
					h2 （Ｃ）文章集錦主題特企
		ul
			li
				a(href='index_d.html')
					h2 （Ｄ）活動招募特企