doctype html
html(lang='zh-TW')
  head
    include ./base/head.pug
  body
    #fb-root
    h1.hide 夏日穿搭特輯 - JUKSY 街星
    include ./nav/n_01.pug
    include ./header/h_03.pug
    include ./list/l_04.pug
    include ./video/v_01.pug
    include ./list/l_03_infinite.pug
    include ./social/s_01.pug
    include ./footer/f_01.pug
    include ./btnfixed/b_01.pug

    // JS start
    include ./nav/n_01_tem.pug
    include ./list/l_03_infinite_script.pug

    // JS cdn
    include ./base/cdnjs.pug

    // JS DEV FILE
    include ./base/devjs.pug

    // JS MIN FILE
    //- include ./base/minjs.pug

    // JS third party
    script(type='text/javascript')
      include ./js/foot.js
    // JS third party end

    // JS end