// footer01
footer#footer.footer_01
	.footerWrap
		.socialWrap.wow.custom_fadeinup
			h3.title FOLLOW US
			ul.social
				li
					a(href='https://www.juksy.com/', target='_blank')
						svg.juksy(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
							g
								path(class="st0", d="M25.9,48.8V36.6h8.1v12.2h10.2V32.5h6.1L30,14.2L9.6,32.5h6.1v16.3H25.9z")
						h4.hide JUKSY
						.borderAnimate
							.line
							.line
							.line
							.line
				li
					a(href='https://www.facebook.com/juksymag/', target='_blank')
						svg.fb(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
							g
								path(class="st0", d="M39.5,58.9V38h7l1-8.1h-8.1v-5.2c0-2.4,0.7-4,4-4l4.3,0v-7.3c-0.7-0.1-3.3-0.3-6.3-0.3c-6.2,0-10.5,3.8-10.5,10.7v6h-7V38h7v20.9H39.5z")
						h4.hide Facebook
						.borderAnimate
							.line
							.line
							.line
							.line
				li
					a(href='https://www.youtube.com/user/JuksyTV/featured', target='_blank')
						svg.yt(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
							g
								polygon(class="st0" points="20,20.3 43.1,32.3 20,44.2 ")
						h4.hide YouTube
						.borderAnimate
							.line
							.line
							.line
							.line
				li
					a(href='https://www.instagram.com/juksy_mag/', target='_blank')
						svg.ig(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 60 60", style="enable-background:new 0 0 60 60;", xml:space="preserve")
							g
								path(class="st0", d="M30,12c-9.9,0-18,8.1-18,18s8.1,18,18,18s18-8.1,18-18S39.9,12,30,12z M30,41.7c-6.5,0-11.7-5.2-11.7-11.7S23.5,18.3,30,18.3S41.7,23.5,41.7,30S36.5,41.7,30,41.7z")
								circle(class="st0", cx="48.7", cy="11.3", r="4.2")
						h4.hide Instagram
						.borderAnimate
							.line
							.line
							.line
							.line
		.copyright
			.line1 Copyright © #{new Date().getFullYear()},
			| JUKSY All rights reserved.
			br
			.line1 捷喜多媒體數位股份有限公司
			| 版權所有
// footer01 end