// footer02
footer#footer.footer_02
	.footerWrap
		.socialWrap.wow.custom_fadeinup
			a.logo(href='https://www.juksy.com/', target='_blank')
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 154.7 39.7', style='enable-background:new 0 0 154.7 39.7;', xml:space='preserve')
					g
						path(class='st0', d='M30.6,0.1l7.4,0l0.1,23.2c0,5.4,3.1,9,8.7,9c5.5,0,8.7-3.6,8.7-9l0-23.2h7.4l0,23.4c0,9.6-5.1,16.2-16.1,16.2 c-11,0-16.2-6.6-16.2-16.2L30.6,0.1z')
						path(class='st0', d='M133.5,18.9L119.7,0h9.1l8.4,11.6L145.6,0h9.1l-13.6,18.8l0,20.8h-7.6V18.9z')
						path(class='st0', d='M93.6,32.2c5.7,0,9.7,0,14.6,0c4.2,0,6-2,6-4.2c0-2.9-2.9-4.1-7-5.1c-5.9-1.4-13.4-2.7-13.4-11.3 C93.9,5.2,99,0,107.4,0c5.7,0,4.5,0,9.3,0l5.5,7.2c-12.9,0-11.5,0-15,0c-3.4,0-5.3,1.7-5.3,4c0,2.6,2.7,3.2,6.9,4.3 c5.9,1.4,13.4,4,13.4,11.8c0,7-4.7,12.3-14.3,12.3c-6.9,0-4.3,0-8.9,0L93.6,32.2z')
						path(class='st0', d='M76.5,25.3l-3.6,4.8l-0.1,9.5h-7.7V0h7.7v17.7L85.6,0l9.1,0L81.2,18.8l15,20.8l-9.3,0L76.5,25.3z')
						path(class='st0', d='M21.1,0.1l0,25.5c0,4.1-2.8,6.6-6.8,6.6c-4.3,0-6.8-3-6.8-6.6l0-6.6H0v7.1c0,8.6,6.6,13.6,14.3,13.6 c6.9,0,14-4.3,14-13.5l0-26.1H21.1z')
			.followWrap
				h3.title FOLLOW US
				ul.social
					li.juksy
						a(href='https://www.juksy.com/', target='_blank')
							.borderAnimate
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 60 60', style='enable-background:new 0 0 60 60;', xml:space='preserve')
								g
									path(class='st0', d='M26.4,45.3V34.5h7.2v10.8h9V30.9H48L30,14.7L12,30.9h5.4v14.4H26.4z')
							h4.hide JUKSY
					li.fb
						a(href='https://www.facebook.com/juksymag/', target='_blank')
							.borderAnimate
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 60 60', style='enable-background:new 0 0 60 60;', xml:space='preserve')
								g
									path(class='st0', d='M32.7,47.3V31.5H38l0.8-6.2h-6.1v-3.9c0-1.8,0.5-3,3.1-3l3.3,0v-5.5c-0.6-0.1-2.5-0.2-4.8-0.2 c-4.7,0-7.9,2.9-7.9,8.1v4.5H21v6.2h5.3v15.8H32.7z')
							h4.hide Facebook
					li.yt
						a(href='https://www.youtube.com/user/JuksyTV/featured', target='_blank')
							.borderAnimate
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 60 60', style='enable-background:new 0 0 60 60;', xml:space='preserve')
								g
									polygon(class='st0' points='20,20.3 43.1,32.3 20,44.2 ')
							h4.hide YouTube
					li.ig
						a(href='https://www.instagram.com/juksy_mag/', target='_blank')
							.borderAnimate
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 60 60', style='enable-background:new 0 0 60 60;', xml:space='preserve')
								g
									path(class='st0', d='M30.7,16.1c-7.3,0-13.2,5.9-13.2,13.2s5.9,13.2,13.2,13.2s13.2-5.9,13.2-13.2S37.9,16.1,30.7,16.1z M30.7,37.9 c-4.7,0-8.6-3.8-8.6-8.6s3.8-8.6,8.6-8.6s8.6,3.8,8.6,8.6S35.4,37.9,30.7,37.9z')
									circle(class='st0', cx='44.4', cy='15.6', r='3.1')
							h4.hide Instagram
		.copyright
			.line1 Copyright © #{new Date().getFullYear()},
			| JUKSY All rights reserved.
			br
			.line1 捷喜多媒體數位股份有限公司
			| 版權所有
// footer02 end