// video01
section.video_01(data-menu='true')
	h2.hide 焦點影音
	.videoWrap
		.videoYT
			iframe(width='1280', height='720', src='https://www.youtube.com/embed/H75C5LhUAwA?rel=0&VQ=HD720', frameborder='0', allowfullscreen)
// video01 end