// video02
section.video_02(data-menu='true')
	.videoWrap
		.titleWrap
			h2.title JUKSY VIDEO
		.parallax(data-module='parallax')
			.parallaxWrap.videoWrapper
				#video_02_player(data-videoid='H75C5LhUAwA', data-start='0')
		.parallaxContent
		.mobile
			iframe(width='1280', height='720', src='https://www.youtube.com/embed/H75C5LhUAwA?rel=0&VQ=HD720', frameborder='0', allowfullscreen)
// video02 end