// puzzle01
.puzzle01(data-menu='true')
    .layoutWrap
        h2.title  CLASSIC FASHION
    .graffiti
        .group
            .three
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol6.png', alt='')
                    .title_wrap
                        .title 百勒絲
                        <br/>
                        .title 我用每天的心情
                        <br/>
                        .title 決定自己的造型
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol7.png', alt='')
                    .title_wrap
                        .title J.Sheon
                        <br/>
                        .title 撕掉標籤
                        <br/>
                        .title 作品才夠屌
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol8.png', alt='')
                    .title_wrap
                        .title 小冰
                        <br/>
                        .title 不限制自己
                        <br/>
                        .title 才會玩得開心
            .two
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol1.jpg', alt='')
                    .title_wrap
                        .title 油頭二世
                        <br/>
                        .title 有自信就
                        <br/>
                        .title 可以撐起所有衣服
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol2.jpg', alt='')
                    .title_wrap
                        .title 梁凱皓
                        <br/>
                        .title 怕痛
                        <br/>
                        .title 哪有tone
        .group
            .three
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol9.png', alt='picture01')
                    .title_wrap
                        .title 許凱皓
                        <br/>
                        .title 跳舞是我的命
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol10.png', alt='picture01')
                    .title_wrap
                        .title Johanna
                        <br/>
                        .title 相信身體 堅定直覺
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol3.jpg', alt='picture01')
                    .title_wrap
                        .title 林萱
                        <br/>
                        .title 誰說甜美不能壞
            .two
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol4.jpg', alt='picture01')
                    .title_wrap
                        .title 梁云菲
                        <br/>
                        .title 不在乎別人的目光
                picture.picture
                    .hover 
                        img(src="img/hover_1.png")
                    img(src='img/puzzle/p_01/kol5.jpg', alt='picture01')
                    .title_wrap
                        .title Miyake
                        <br/>
                        .title 流行多變
                        <br/>
                        .title 唯有自我風格不變化
// puzzle01 end